<h2>My Tasks</h2>

<ul style="list-style-type: none">
  <% @tasks.each do |task| %>
    <li>
      <%= form_for(task) do |f| %>
        <%= f.check_box :completed %> <span><%=link_to task.title, task_path(task) %></span>
      <% end %>
    </li>
  <% end %>
</ul>
<hr>
<%= link_to "Create new task", new_task_path %>
